/******************************** Common styles ********************************/
body {
	padding-top: 50px;
}

.center-template {
	padding: 15px 15px;
	text-align: center;
}

.init-template {
	padding: 15px 15px;
}

.center {
	text-align: center;
}

/******************************** Datatables ********************************/

/*div.dataTables_info {
	white-space: normal !important;
}

.form-control {
	width: auto !important;
}*/
table.dataTable.hover tbody tr:hover, table.dataTable.hover tbody tr.odd:hover,
	table.dataTable.hover tbody tr.even:hover, table.dataTable.display tbody tr:hover,
	table.dataTable.display tbody tr.odd:hover, table.dataTable.display tbody tr.even:hover
	{
	background-color: whitesmoke;
}

td.uniqueAnswer_column {
	text-align: center;
	font-size: 24px;
}

td.column_centered {
	text-align: center;
}
/*Fix when opening modal windows the page moves*/
body.modal-open {
	overflow: inherit;
	padding-right: inherit !important;
}

/********************************List Problem********************************/
.remove_icon {
	font-size: 24px;
}

/********************************Create Problem********************************/
.error {
	color: red;
}

.alert_eq {
	padding: 6px 18px;
	margin-bottom: 3px;
	border: 1px solid transparent;
	border-radius: 4px;
	float: left;
	max-width: 32%;
}

.body_width_eq {
	max-width: 900px;
}

.subrow {
	margin-left: 3%;
	margin-right: -3%;
	margin-bottom: 12px;
}

.panel-heading {
	margin-bottom: 5px;
}

.font_checkbox_eq {
	font-weight: 700;
}

.margin_chexkbox_eq {
	margin: 0px !important;
}

/********************************Student Solve Problem********************************/
.dropdownmargin {
	margin-bottom: 15px;
}

.formulainput {
	width: 33% !important;
	margin-left: 5%;
	margin-bottom: 1%;
}

.formulabuttons {
	text-align: right;
	margin-bottom: 5px;
}

.form-control-math {
	color: #555;
	width: 50px;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control-math:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
}

.form-control-math::-moz-placeholder {
	color: #999;
	opacity: 1;
}

.form-control-math:-ms-input-placeholder {
	color: #999;
}

.form-control-math::-webkit-input-placeholder {
	color: #999;
}